.App{
  background-color: #F5F5F5
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: black;
  text-align: center;
}

.tldr {
  color: black;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tokenTextBox {
  width: -moz-available;
}

.submitToken {
  margin-top: 1%;
}

.response{
  width: -moz-available;
  padding: 5%;
  text-align: center;
}